<!DOCTYPE html>
<html>

<head>
  <title>Canteen Dapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="../mdb/css/bootstrap.min.css" rel="stylesheet">
  <link href="../mdb/css/mdb.min.css" rel="stylesheet">
  <link href="../mdb/css/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <h1>Canteen Management Dashboard</h1>
    <div class = "row">
      <div class="col-lg-10">
        <h2>Welcome <%= address %></h2>
        <h3>Your Balance <%= balance %> Rs.</h3>
      </div>
       <div class="col-lg-2">
        <p align="right"><a  class="btn btn-primary" href="/canteen/logout">Logout</a></p>
      </div>
    </div>
    <br><br>
    <p align="right"><b><a href="/canteen/past_orders">Order History</a></b></p>
  </div>
  <script type="text/javascript" src="../mdb/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../mdb/js/popper.min.js"></script>
  <script type="text/javascript" src="../mdb/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../mdb/js/mdb.min.js"></script>
</body>
</html>
