<!DOCTYPE html>
<html>

<head>
  <title>Canteen Dapp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="mdb/css/bootstrap.min.css" rel="stylesheet">
  <link href="mdb/css/mdb.min.css" rel="stylesheet">
  <link href="mdb/css/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="container">
    <h1>Canteen DApp</h1>
    <div class="col-lg-6">
        <form action="/person/login" id="personLoginForm" method="POST">
            <h2>Person Login</h2>
            <div class="input-group  input-group-md">
                <input type="password" class="form-control" id="personPvtKey" name="privateKey" placeholder="Your Private Key" />
            </div>
            <br>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" name = "personLogin" id="personLogin">Login</button>
            </span>
        </form>
    </div>      
    <div class="col-lg-6">
        <form action="/canteen/login" id="canteenLoginForm" method="POST">
            <h2> Canteen Login</h2>
            <div class="input-group  input-group-md">
                <input type="password" class="form-control" id="canteenPvtKey" name="privateKey" placeholder="Your Private Key" />
            </div>
            <br>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" name = "canteenLogin" id="canteenLogin">Login</button>
            </span>
        </form>
    </div>      
    </div>
    <script type="text/javascript" src="mdb/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="mdb/js/mdb.min.js"></script>
</body>
</html>